<div class=" text-current flex flex-grow basis-0">
    <!-- Isotipo CP (monocromo, hereda currentColor) -->
    <svg
      class="h-6 w-28"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 340 40"
      fill="currentColor"
    >
      <text
        x="0"
        y="38"
        font-family="Orbitron"
        font-size="50"
        font-weight="500"
      >
        ComPower
      </text>
    </svg>
  </div>