---
import "../styles/global.css"
---
<section>
    <div class="relative">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div class="relative z-10">
            <h1>Slider</h1>
        </div>
    </div>
</section>